<environment>
    <link href="~/css/main.css" rel="stylesheet">
</environment>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">List Employee</h1>
            <form>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="row">

            <div class="table-responsive">
                <table class="table display data-table ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Subject</th>
                            <th>Description</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Date Of Birth</th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="https://cn.i.cdn.ti-platform.com/cnapac/content/701/showpage/we-bare-bears/sa/showicon.png" height="30px" alt="student"></td>
                            <td>Mark Willy</td>
                            <td>Male</td>
                            <td>TA-107 Newyork</td>
                            <td>02/05/2001</td>
                            <td>+ 123 9988568</td>
                            <td>kazifahim93@gmail.com</td>
                            <td class="text-success">Admin</td>
                            <td>
                                <a class="" href="#">Edit</a>
                                <a class="" href="#">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="https://cn.i.cdn.ti-platform.com/cnapac/content/701/showpage/we-bare-bears/sa/showicon.png" height="30px" alt="student"></td>
                            <td>Mark Willy</td>
                            <td>Male</td>
                            <td>TA-107 Newyork</td>
                            <td>02/05/2001</td>
                            <td>+ 123 9988568</td>
                            <td>kazifahim93@gmail.com</td>
                            <td class="text-success">Admin</td>
                            <td>
                                <a class="" href="#">Edit</a>
                                <a class="" href="#">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="https://cn.i.cdn.ti-platform.com/cnapac/content/701/showpage/we-bare-bears/sa/showicon.png" height="30px" alt="student"></td>
                            <td>Mark Willy</td>
                            <td>Male</td>
                            <td>TA-107 Newyork</td>
                            <td>02/05/2001</td>
                            <td>+ 123 9988568</td>
                            <td>kazifahim93@gmail.com</td>
                            <td class="text-success">Admin</td>
                            <td>
                                <a class="" href="#">Edit</a>
                                <a class="" href="#">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="https://cn.i.cdn.ti-platform.com/cnapac/content/701/showpage/we-bare-bears/sa/showicon.png" height="30px" alt="student"></td>
                            <td>Mark Willy</td>
                            <td>Male</td>
                            <td>TA-107 Newyork</td>
                            <td>02/05/2001</td>
                            <td>+ 123 9988568</td>
                            <td>kazifahim93@gmail.com</td>
                            <td class="text-success">Admin</td>
                            <td>
                                <a class="" href="#">Edit</a>
                                <a class="" href="#">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="https://cn.i.cdn.ti-platform.com/cnapac/content/701/showpage/we-bare-bears/sa/showicon.png" height="30px" alt="student"></td>
                            <td>Mark Willy</td>
                            <td>Male</td>
                            <td>TA-107 Newyork</td>
                            <td>02/05/2001</td>
                            <td>+ 123 9988568</td>
                            <td>kazifahim93@gmail.com</td>
                            <td class="text-success">Admin</td>
                            <td>
                                <a class="" href="#">Edit</a>
                                <a class="" href="#">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="https://cn.i.cdn.ti-platform.com/cnapac/content/701/showpage/we-bare-bears/sa/showicon.png" height="30px" alt="student"></td>
                            <td>Mark Willy</td>
                            <td>Male</td>
                            <td>TA-107 Newyork</td>
                            <td>02/05/2001</td>
                            <td>+ 123 9988568</td>
                            <td>kazifahim93@gmail.com</td>
                            <td class="text-success">Admin</td>
                            <td>
                                <a class="" href="#">Edit</a>
                                <a class="" href="#">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="https://cn.i.cdn.ti-platform.com/cnapac/content/701/showpage/we-bare-bears/sa/showicon.png" height="30px" alt="student"></td>
                            <td>Mark Willy</td>
                            <td>Male</td>
                            <td>TA-107 Newyork</td>
                            <td>02/05/2001</td>
                            <td>+ 123 9988568</td>
                            <td>kazifahim93@gmail.com</td>
                            <td class="text-success">Admin</td>
                            <td>
                                <a class="" href="#">Edit</a>
                                <a class="" href="#">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="https://cn.i.cdn.ti-platform.com/cnapac/content/701/showpage/we-bare-bears/sa/showicon.png" height="30px" alt="student"></td>
                            <td>Mark Willy</td>
                            <td>Male</td>
                            <td>TA-107 Newyork</td>
                            <td>02/05/2001</td>
                            <td>+ 123 9988568</td>
                            <td>kazifahim93@gmail.com</td>
                            <td class="text-success">Admin</td>
                            <td>
                                <a class="" href="#">Edit</a>
                                <a class="" href="#">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="https://cn.i.cdn.ti-platform.com/cnapac/content/701/showpage/we-bare-bears/sa/showicon.png" height="30px" alt="student"></td>
                            <td>Mark Willy</td>
                            <td>Male</td>
                            <td>TA-107 Newyork</td>
                            <td>02/05/2001</td>
                            <td>+ 123 9988568</td>
                            <td>kazifahim93@gmail.com</td>
                            <td class="text-success">Admin</td>
                            <td>
                                <a class="" href="#">Edit</a>
                                <a class="" href="#">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>