@page
@model LoginModel
<environment>
    <link rel="stylesheet" href="~/css/css.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</environment>
@{
    ViewData["Title"] = "Log in";
}
<section class="container">
    <section class="login-form">
        <form form id="account" method="post">
            <h2 class="login-heading mb-4">Welcome!</h2>
            <h4 class="login-heading mb-4">Please log in to continue.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-label-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-label-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" required>
            </div>
            <div class="custom-control custom-checkbox ">
                <input type="checkbox" asp-for="Input.RememberMe" class="custom-control-input" id="rememberPass">
                <label class="custom-control-label" asp-for="Input.RememberMe" for="rememberPass" style="position:relative;top:-5px">Remember me</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
            <div class="text-center">
                <a class="small" id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
            </div>
        </form>
    </section>
</section>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}