<style>
    img{height:248px}
</style>
<h1 class="text-center">Welcome, LPD Online Help Desk System </h1>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/IMG/undraw_Subscriber_re_om92.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Create Request</h5>
            <p class="card-text">Create and send your request fou us.</p>
            <a asp-action="Index" asp-controller="Customer">Start -></a>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/IMG/undraw_To_do_re_jaef.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">History</h5>
            <p class="card-text">Check history of all your request.</p>
            <a asp-action="History" asp-controller="Customer">Start -></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/IMG/undraw_Personal_site_re_c4bp.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Information</h5>
            <p class="card-text">Check or update your personal information.</p>
            <a asp-action="Information" asp-controller="Customer">Start -></a>
        </div>
    </div>
</div>